.list-style {
  background-color: beige;
  padding: 2rem;
  margin: 1rem;
  text-align: center;
  list-style-type: none;
}

.todo-completed {
  color: grey;
  font-weight: bolder;
  text-decoration: line-through;
}
